@import "@material/typography/_functions";
$container-fill-color: #285e9d !default;
$mdc-theme-primary: #3fa17e !default;
$mdc-theme-secondary: #285e9d !default;
$mdc-theme-background: #3fa17e !default;
$mdc-theme-on-primary: #f9f9f9 !default;
$mdc-theme-on-secondary: #f9f9f9 !default;
$mdc-theme--primary-bg: #3fa17e !default;
$mdc-theme--secondary-bg: #285e9d !default;
$mdc-shape-small-component-radius: 0 !default;
$mdc-shape-medium-component-radius: 0 !default;
$mdc-shape-large-component-radius: 0 !default;
$mdc-typography-font-family: "avenirmedium", Roboto, -apple-system,
  BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;
$mdc-typography-base: (
  font-family: $mdc-typography-font-family,
  -moz-osx-font-smoothing: grayscale,
  -webkit-font-smoothing: antialiased
) !default;

$mdc-typography-font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
) !default;
$mdc-typography-styles: mdc-typography-set-styles_(
  $mdc-typography-base,
  (
    headline1: (
      font-size: 3rem,
      line-height: 3rem,
      font-weight: map-get($mdc-typography-font-weight-values, light),
      letter-spacing: mdc-typography-get-letter-spacing_(-1.5, 6),
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline2: (
      font-size: 1.4375rem,
      line-height: 1.75rem,
      font-weight: map-get($mdc-typography-font-weight-values, light),
      letter-spacing: mdc-typography-get-letter-spacing_(-0.5, 3.75),
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline3: (
      font-size: 1rem,
      line-height: 1.125rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: normal,
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline4: (
      font-size: 2.125rem,
      line-height: 2.5rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(0.25, 2.125),
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline5: (
      font-size: 1.5rem,
      line-height: 2rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: normal,
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline6: (
      font-size: 1.25rem,
      line-height: 2rem,
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: mdc-typography-get-letter-spacing_(0.25, 1.25),
      text-decoration: inherit,
      text-transform: inherit
    ),
    subtitle1: (
      font-size: 1rem,
      line-height: 1.75rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(0.15, 1),
      text-decoration: inherit,
      text-transform: inherit
    ),
    subtitle2: (
      font-size: 0.875rem,
      line-height: 1.375rem,
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: mdc-typography-get-letter-spacing_(0.1, 0.875),
      text-decoration: inherit,
      text-transform: inherit
    ),
    body1: (
      font-size: .75rem,
      line-height: .75rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(0.5, 1),
      text-decoration: inherit,
      text-transform: inherit
    ),
    body2: (
      font-size: .625rem,
      line-height: .75rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(0.25, 0.875),
      text-decoration: inherit,
      text-transform: inherit
    ),
    caption: (
      font-size: 0.75rem,
      line-height: 1.25rem,
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(0.4, 0.75),
      text-decoration: inherit,
      text-transform: inherit
    ),
    button: (
      font-size: 0.875rem,
      line-height: 2.25rem,
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: mdc-typography-get-letter-spacing_(1.25, 0.875),
      text-decoration: none,
      text-transform: inherit
    ),
    overline: (
      font-size: 0.75rem,
      line-height: 2rem,
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: mdc-typography-get-letter-spacing_(2, 0.75),
      text-decoration: none,
      text-transform: uppercase
    )
  )
) !default;
$mdc-typography-styles-button: (
  font-size: 1rem,
  text-transform: none,
  border-radius: 0
) !default;
$mdc-button-height: 5rem !default;
$mdc-button-horizontal-padding: 1rem !default;
$mdc-button-contained-horizontal-padding: 1rem !default;
$mdc-dense-button-height: 4.1rem !default;
