@import "_variables";
@import "fonts";
@import "responsive";
@import "normalize";
@import "@material/theme/mdc-theme.scss";
@import "@material/button/mdc-button.scss";
@import "@material/textfield/mdc-text-field.scss";
@import "@material/form-field/mdc-form-field.scss";
@import "@material/typography/mdc-typography.scss";
@import "@material/ripple/mdc-ripple.scss";
@import "@material/shape/mixins";
@import "@material/shape/functions";
body {
  margin: 0;
  font-family: $mdc-typography-font-family;
  font-size: 16px;
  color: #333;
  background: #f9f9f9;
}
@media only screen and (max-width: 340px) {
  body,
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 340px) and (max-width: 768px) {
  body,
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  body,
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  body,
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1600px) {
  body,
  html {
    font-size: 20px;
  }
}

.row {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.mdc-button {
  padding: 0.5rem 1rem;
  border-radius: 0;
  height: inherit;
  min-height: 3rem;
}
.form-item {
  display: flex;
  align-content: space-between;
  align-items: stretch;
  flex-flow: row;
  margin: 1rem 0;
}
.mdc-button.secondairy {
  @include mdc-button-filled-accessible($mdc-theme-secondary);
  border-radius: 0;
  min-width: 15rem;
  height: inherit;
  margin-left: 1rem;
}
.mdc-text-field.secondairy {
  height: inherit;
  @include mdc-text-field-fill-color(#d8d8d8);
  @include mdc-text-field-caret-color($mdc-theme-secondary);
  @include mdc-text-field-bottom-line-color($mdc-theme-secondary);
  @include mdc-text-field-line-ripple-color($mdc-theme-secondary);
}
.brinkkemper {
  width: 11.5625rem;
  height: 2rem;
  color: transparent;
  text-indent: -99999px;
  background-image: url("data:image/svg+xml,%3Csvg width='185' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M8.29 6.96a6.839 6.839 0 0 0-5.422 2.444v2.399a5.905 5.905 0 0 1 5.185-2.786c3.288 0 5.685 2.932 5.685 6.963 0 4.152-2.294 6.964-5.756 6.964-3.167 0-5.743-2.59-5.775-5.807v-4.04l.039-2.888V2.281C2.246.404 1.52 0 .766 0 .344 0 0 .18 0 .25v18.265l2.195 3.419C3.119 23.563 5.207 25 8.155 25 12.677 25 16 21.357 16 15.944c0-5.412-3.391-8.984-7.71-8.984zM0 19.688v3.91c0 .864.414 1.119.995 1.119h.24c.58 0 .963-.255.963-1.118v-.385L0 19.688z' fill-rule='nonzero'/%3E%3Cpath d='M26.602 7c-2.222 0-3.683 1.246-4.376 3.634V9.61c0-1.903-.697-2.313-1.461-2.313-.417 0-.765.182-.765.258v16.312c0 .875.416 1.133 1.009 1.133h.244c.589 0 1.005-.258 1.005-1.133v-6.843c0-4.463 1.149-7.718 4.1-7.718a2.811 2.811 0 0 1 2.017.73c.069.076.625-.363.625-1.242C29 7.661 28.131 7 26.602 7z'/%3E%3Cpath d='M33.536 0C32.523 0 32 .51 32 1.57c0 1.057.523 1.568 1.467 1.568 1.01 0 1.533-.51 1.533-1.569C35 .511 34.516 0 33.536 0zm.069 7.335h-.242c-.595 0-1.013.257-1.013 1.13V23.87c0 .874.418 1.131 1.013 1.131h.242c.594 0 1.013-.257 1.013-1.13V8.464c0-.883-.412-1.13-1.007-1.13h-.006z' fill-rule='nonzero'/%3E%3Cpath d='M47.175 7c-2.396-.037-4.63 1.178-5.86 3.186V9.6c0-1.903-.724-2.313-1.52-2.313-.433 0-.795.182-.795.258v16.32c0 .876.433 1.134 1.05 1.134h.25c.613 0 1.046-.258 1.046-1.133v-10.94c1.016-2.193 3.003-3.693 5.677-3.693 2.928 0 4.628 2.121 4.628 5.597v9.036c0 .875.433 1.133 1.046 1.133h.254c.616 0 1.049-.258 1.049-1.133v-9.181C54.007 10.073 51.728 7 47.175 7zM70.983 23.757l-8.125-8.102L69.865 8.5c.107-.108-.213-1.166-1.14-1.166-.465 0-.929.257-1.57.949l-6.84 7.153V2.307C60.316.41 59.569 0 58.786 0 58.356 0 58 .181 58 .254v23.615c0 .874.427 1.131 1.034 1.131h.247c.608 0 1.035-.257 1.035-1.13v-7.85l7.918 8.067c.667.692 1.067.913 1.494.913.968 0 1.362-1.13 1.255-1.243zM85.983 23.757l-8.124-8.102L84.87 8.5c.106-.108-.214-1.166-1.139-1.166-.464 0-.928.257-1.569.949l-6.841 7.153V2.307C75.32.41 74.569 0 73.784 0 73.357 0 73 .181 73 .254v23.615c0 .874.43 1.131 1.035 1.131h.25c.604 0 1.035-.257 1.035-1.13v-7.85l7.91 8.067c.667.692 1.067.913 1.498.913.971 0 1.362-1.13 1.255-1.243z'/%3E%3Cpath d='M96.311 7C91.535 7 88 10.853 88 16.075 88 21.297 91.499 25 96.519 25c4.468 0 6.962-2.627 6.962-3.814 0-1.118-1.248-1.44-1.316-1.333-.973 1.626-2.426 3.06-5.646 3.06-3.532 0-6.093-2.602-6.265-6.263h12.809c.694 0 .937-.146.937-.793v-.215C104 10.421 100.952 7 96.311 7zm-5.99 7.634c.484-3.277 2.874-5.582 5.99-5.582 3.117 0 5.092 2.198 5.3 5.582H90.32z' fill-rule='nonzero'/%3E%3Cpath d='M125.634 7c-2.722 0-4.723 1.652-5.811 3.733-.898-2.451-2.864-3.733-5.45-3.733-2.204 0-4.032 1.282-5.165 3.036V9.6c0-1.903-.69-2.313-1.45-2.313-.413 0-.758.182-.758.258v16.322c0 .875.413 1.133 1 1.133h.243c.584 0 .997-.258.997-1.133V12.746c.969-2.085 2.864-3.513 4.898-3.513 2.825 0 4.239 1.791 4.239 5.452v9.182c0 .875.413 1.133 1 1.133h.242c.585 0 .998-.258.998-1.133V12.746c.968-2.085 2.86-3.513 4.894-3.513 2.828 0 4.242 1.791 4.242 5.267v9.367c0 .875.413 1.133 1 1.133H131c.588 0 1.001-.258 1.001-1.133v-9.512C131.968 9.525 129.772 7 125.634 7z'/%3E%3Cpath d='M145.285 7.003c-2.08-.063-4.075.851-5.418 2.485V11.9c1.121-1.812 3.09-2.882 5.178-2.817 3.286 0 5.682 2.966 5.682 7.042 0 4.199-2.293 7.043-5.753 7.043-3.165 0-5.74-2.62-5.771-5.873V9.597c0-1.899-.686-2.307-1.44-2.307-.41 0-.753.181-.753.257v10.872l2.225 3.51c.927 1.677 3.014 3.318 5.925 3.318 4.518 0 7.84-3.684 7.84-9.158 0-5.474-3.399-9.086-7.715-9.086zM137 30.866c0 .877.41 1.134.994 1.134h.24c.58 0 .991-.257.991-1.134v-7.649L137 19.592v11.274zM164.311 7C159.535 7 156 10.853 156 16.075c0 5.222 3.486 8.925 8.519 8.925 4.468 0 6.965-2.627 6.965-3.81 0-1.12-1.248-1.441-1.316-1.334-.973 1.626-2.426 3.06-5.646 3.06-3.531 0-6.093-2.601-6.268-6.262h12.809c.694 0 .937-.147.937-.794v-.198C172 10.42 168.952 7 164.311 7zm-5.99 7.634c.484-3.277 2.874-5.582 5.99-5.582 3.117 0 5.092 2.198 5.3 5.582h-11.29z' fill-rule='nonzero'/%3E%3Cpath d='M182.602 7c-2.222 0-3.683 1.246-4.376 3.634V9.61c0-1.903-.697-2.313-1.461-2.313-.417 0-.765.182-.765.258v16.312c0 .875.416 1.133 1.009 1.133h.244c.589 0 1.005-.258 1.005-1.133v-6.843c0-4.463 1.149-7.718 4.1-7.718a2.811 2.811 0 0 1 2.017.73c.069.076.625-.363.625-1.242-.01-1.133-.869-1.794-2.398-1.794z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 11.5625rem 2rem;
}
.mdc-button.secondairy {
  background-color: $mdc-theme-secondary;
  color: $mdc-theme-on-secondary;
}
a {
  color: inherit;
}
