@media only screen and (max-width: 340px) {
  .full {
    width: calc(100% - 2rem); }
  .shadowBox {
    max-width: calc(100% - 2rem); }
  .form-item {
    flex-flow: column !important; }
  .mdc-text-field.secondairy {
    height: 3rem !important;
    margin-bottom: 0 !important; }
  .mdc-button.secondairy {
    width: 100%;
    min-height: 3rem;
    margin-top: 1rem;
    margin-left: 0 !important;
    margin-bottom: 0 !important; }
  .offsetBox {
    margin-top: -2.1rem; }
  .subscribeBox {
    transform: translate3d(0rem, -2.1rem, 0px); }
  .offsetBox,
  .subscribeBox {
    width: calc(100% - 2rem); } }

@media only screen and (min-width: 340px) and (max-width: 768px) {
  .row {
    justify-content: flex-start; }
  .full {
    width: calc(95% - 2rem); }
  .shadowBox {
    max-width: calc(100% - 2rem); }
  .form-item {
    flex-flow: column !important; }
  .mdc-text-field.secondairy {
    height: 3rem !important;
    margin-bottom: 0 !important; }
  .mdc-button.secondairy {
    width: 95%;
    min-height: 3rem;
    margin-top: 1rem;
    margin-left: 0 !important;
    margin-bottom: 0 !important; }
  .offsetBox {
    margin-top: -2.1rem; }
  .subscribeBox {
    transform: translate3d(0rem, -2.1rem, 0px); }
  .offsetBox,
  .subscribeBox {
    width: calc(95% - 2rem); } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .full {
    width: 40rem; }
  .offsetBox {
    margin-top: -2.1rem; }
  .subscribeBox {
    transform: translate3d(0, -2.1rem, 10px); } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .full {
    width: 40rem; }
  .offsetBox {
    margin-top: -2.1rem; }
  .subscribeBox {
    transform: translate3d(0, -2.1rem, 10px); } }

@media only screen and (min-width: 1600px) {
  .full {
    width: 40rem; }
  .offsetBox {
    margin-top: -2.1rem; }
  .subscribeBox {
    transform: translate3d(0, -2.1rem, 10px); } }
